<section class="bg-[#ecf3ff] font-medium text-[#003B65]">
  <div class="container flex items-center justify-between ">
    <div >
      <div class="mb-6">
        <p class="text-7xl  text-start mb-4">Hi, I’m Crowl,<br/>welcome to<br/> easy banking</p>
        <p class="text-2xl text-start">
          I'm your friendly financial assistant here to help you<br/> navigate
          through all things banking.
        </p>
      </div>

      <div class="grid grid-cols-2 items-center justify-center gap-4 text-lg">
        <div class="flex  items-center gap-2">
          <img
            src="../../../../../assets/icons/checked.svg"
            alt="Checked Icon"
          />
          <p>Balance Enquiry</p>
        </div>
        <div class="flex  items-center gap-2">
          <img
            src="../../../../../assets/icons/checked.svg"
            alt="Checked Icon"
          />
          <p>Money Transfer</p>
        </div>
        <div class="flex  items-center gap-2">
          <img
            src="../../../../../assets/icons/checked.svg"
            alt="Checked Icon"
          />
          <p>Manage Account</p>
        </div>
        <div class="flex  items-center gap-2">
          <img
            src="../../../../../assets/icons/checked.svg"
            alt="Checked Icon"
          />
          <p>Internet banking</p>
        </div>
      </div>
    </div>

    <div class="mt-8 relative z-10">
      <img
        class="shrink-0 w-[600px] object-contain translate-y-7"
        src="../../../../../assets/images/crowl.png"
        alt="A Robot Picture"
      />
    </div>
  </div>
</section>
