<section class="bg-[#EDA803] h-80 pt-10 relative  top-[-130px] ">
    <div class="  container">
        <h2 class="font-[Inter] text-white font-bold text-4xl text-center mb-8">Recharge & Pay Bills Using Online Banking</h2>

        <div class="flex justify-center items-center gap-12">
            <app-card 
            [cardData]="{ 
                image: '../../../assets/icons/circle.svg', 
                text: 'Recharge Prepaid Mobile',  
              }"
            />
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/home.svg',
               text:'Pay Rent Payment'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/lightbulb.svg',
               text:'Pay Electricity Bill'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/dish.svg',
               text:'Pay for TV Connection'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/gas.svg',
               text:'Pay for Gas and utility'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/card.svg',
               text:'Pay Credit Card Bill'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/stack.svg',
               text:'All Payment Services'

            }"
            />
                      
        </div>
    </div>
</section>