<section class="bg-[#EDA803] h-80 pt-10 absolute top-[650px]  w-full">
    <div class="  container">
        <h2 class="font-[Inter] text-white font-bold text-4xl text-center mb-8 -ml-96">Recharge & Pay Bills Using Online Banking</h2>

        <div class="flex justify-center items-center gap-12">
            <app-card 
            [cardData]="{ 
                image: '../../../assets/icons/circle.svg', 
                text: 'Recharge Prepaid Mobile',  
                class: 'relative left-[-18px] top-[-2px]'
              }"
            />
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/home.svg',
               text:'Pay Rent Payment',
               class: 'relative left-[2px] top-[-2px]'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/lightbulb.svg',
               text:'Pay Electricity Bill',
               class: 'relative left-[-42px] top-[-2px]'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/dish.svg',
               text:'Pay for TV Connection',
               class: 'relative left-[25px] top-[-2px]'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/gas.svg',
               text:'Pay for Gas and utility',
               class: 'relative left-[-25px] top-[-2px]'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/card.svg',
               text:'Pay Credit Card Bill',
               class: 'relative left-[2px] top-[-2px]'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/stack.svg',
               text:'All Payment Services',
               class: 'relative left-[2px] top-[-2px]'

            }"
            />
                      
        </div>
    </div>
</section>