<section
  class="bg-white h-[190px] w-[400px] rounded-2xl flex justify-around items-start pt-3 absolute z-20 bottom-[35%] right-4"
>
  <img class="w-28" src="../../../assets/images/chatbot.svg" alt="" />

  <div class="text-[#003B65] w-[247.1px] text-start mt-5 -translate-x-5">
    <p class="font-bold">Hey there!🖐I'm Crowl</p>
    <p class="font-medium text-sm">
      Need help with your account? Type your question or choose from the options
      below to get started.
    </p>
    <div class="flex items-center justify-end mt-3">
      <button
        class="font-[DM-Sans] font-medium bg-blue-950 text-white w-[128px] h-11 rounded-md hover:bg-blue-900"
      >
        Get Started
      </button>
    </div>
  </div>
</section>
