<section
  class="w-full h-full absolute bg-neutral-600 bg-opacity-50 pt-5 top-0 left-0 z-20"
>
  <div class="m-auto">
    <div
      class="bg-[#002970] w-[720px] h-[190px] mx-auto flex justify-between rounded-tl-[50px] rounded-tr-[50px]"
    >
      <div class="flex mt-5 ml-6">
        <div>
          <img
            src="../../../assets/images/chatbot_dp.png"
            alt="Chatbot profile picture"
          />
        </div>

        <div class="pt-5">
          <h2 class="text-2xl text-[#FFFFFF] font-bold mb-3">Hello there!👋</h2>
          <p class="text-[#FFFFFF]">How can I help you?</p>
        </div>
      </div>

      <div class="flex mt-6 mr-16 w-24 justify-between">
        <div class="mt-3 w-5">
          <img src="../../../assets/icons/minimize.png" alt="minimize icon" />
        </div>
        <div>
          <img src="../../../assets/icons/maximize.png" alt="maximize icon" />
        </div>
        <div>
          <img
            (click)="closeChatDialogModal()"
            src="../../../assets/icons/close.png"
            alt="close icon"
          />
        </div>
      </div>
    </div>

    <div id="webchat"
      class="bg-[#F6F6F7] mt-[-50px] w-[720px] h-[600px] m-auto rounded-[50px] px-14 py-10 overflow-y-auto"
    ></div>
  </div>
</section>
