<section class=" container">
  <div class="flex justify-between my-10 max-sm:flex-col">
    <div>
      <h2 class="w-[243px] text-start text-blue-900 font-semibold text-xl">
        Download FirstMobile App for your Transaction
      </h2>
      <img
        class="shrink-0 my-4"
        src="../../../../assets/icons/Appstore.svg"
        alt="Apple Store"
      />
      <img
        class="shrink-0"
        src="../../../../assets/icons/Googleplay.svg"
        alt="Googleplay Store"
      />
    </div>

    <div class="text-start text-[#6C7586] font-medium">
      <h3 class="text-blue-800 text-lg  max-sm: mt-4">First Mobile</h3>
      <p class="my-6">Payment</p>
      <p>Card</p>
      <p class="my-6">Pricing</p>
    </div>

    <div class="text-start text-[#6C7586] font-medium">
      <h3 class="text-blue-800 text-lg">Product</h3>
      <p class="my-6">Personal</p>
      <p>Business</p>
      <p class="my-6">Company</p>
    </div>

    <div class="text-start text-[#6C7586] font-medium">
      <h3 class="text-blue-800 text-lg">Company</h3>
      <p class="my-6">About</p>
      <p>Help</p>
      <p class="my-6">FAQ</p>
    </div>

    <div class="text-start text-[#6C7586] font-medium">
      <h3 class="text-blue-800 text-lg8ju">Social Media</h3>
      <p class="my-6">Twitter</p>
      <p>Facebook</p>
      <p class="my-6">Instagram</p>
    </div>
  </div>
</section>
