<header class="flex justify-between items-center flex-wrap container font-semibold text-lg leading-tight text-[#003B65] " >
    <img class="shrink-0  mt-4 " src="../../../../assets/icons/logo.svg" alt="FirstBank Logo">
    <nav>
        <ul class="flex gap-16 ">
            <li>Home</li>
            <li>The Team</li>
            <li>About Project</li>
        </ul>
    </nav>
    <div class="flex items-center gap-5 invisible ">
        <p>Login</p>
        <button class="border bg-[#003B65] h-[42px] w-[157px] text-white rounded-md hover:bg-blue-900">Open Account</button>     
    </div>
</header>

