<section class="bg-[#ECF3FF]">
  <div class="container relative">
    <div
      class="bg-[#002970] absolute z-0 w-[767px] h-[900px] left-60 flex justify-between rounded-tl-[50px] rounded-tr-[50px]"
    >
      <div class="flex items-start pl-10 pt-6">
        <span>
          <img
            src="../../../assets/images/chatbot_dp.png"
            alt="Chatbot profile picture"
          />
        </span>
        <span class="pt-5">
          <h2 class="text-2xl text-[#FFFFFF] font-bold mb-3">Hello there!👋</h2>
          <p class="text-[#FFFFFF] pr-3">How can I help you?</p>
        </span>
      </div>

      <div class="flex justify-evenly w-28 mr-12 pt-8">
        <span class="mt-3 w-5">
          <img src="../../../assets/icons/minimize.png" alt="minimize icon" />
        </span>
        <span>
          <img src="../../../assets/icons/maximize.png" alt="maximize icon" />
        </span>
        <span>
          <img src="../../../assets/icons/close.png" alt="close icon" />
        </span>
      </div>
    </div>

    <div
      class="bg-[#F6F6F7] absolute left-60 top-36 z-0 w-[767px] h-[749px] m-auto rounded-tl-[50px] rounded-tr-[50px]"
    >
      <div class="flex pt-8 pl-10">
        <span>
          <img src="../../../assets/icons/inbox.png" alt="inbox icon" />
        </span>
        <p class="pl-2">Crowl Assistant 02:10 PM</p>
      </div>

      <div
        class="bg-[#FFFFFF] w-fit py-5 pl-8 pr-16 ml-20 my-2 rounded-[10px] border-1.5 border-[#E3E3E3]"
      >
        <p>welcome to FirstBank Online</p>
      </div>

      <!-- <div>
        <p>
          Let me know how I can be of help or kindly pick a topic of issues that
          you are facing...
        </p>
      </div> -->

      <p>Open Account</p>
      <p>Balance Enquiry</p>
      <p>Transaction History</p>

      <div>
        <span><p>Visitor 02:12 PM</p></span>
        <div>
          <p>I have Account Issues</p>
        </div>
        <span><p>Read</p></span>
      </div>

      <div>
        <input type="text" placeholder="Write a message here..." />
      </div>

      <div>
        <p>Powered by <strong>Micrsoft Azure</strong></p>
      </div>
    </div>
  </div>
</section>
