<section class="bg-[#002970] h-[320px] pt-[67px] mt-36 max-sm:mt-0">
  <div class="container">
    <h2
      class="font-[Inter] text-white font-bold text-4xl text-center mb-8 -ml-[405px] max-sm:text-sm max-sm:ml-0"
    >
      Book & Buy Ticket Using Online Banking
    </h2>

    <div
      class="flex justify-center items-center gap-12 max-sm:gap-1 max-sm:overflow-x-auto no-scrollbar max-sm:justify-between"
    >
      <app-card
        [cardData]="{
          image: '../../../assets/icons/movie.svg',
          text: 'Movie Tickets',
          class: ''
        }"
      />
      <app-card
        [cardData]="{
          image: '../../../assets/icons/flight.svg',
          text: 'Flight Tickets',
          class: ''
        }"
      />

      <app-card
        [cardData]="{
          image: '../../../assets/icons/bus.svg',
          text: 'Bus Tickets',
          class: ''
        }"
      />

      <app-card
        [cardData]="{
          image: '../../../assets/icons/train.svg',
          text: 'Train Tickets',
          class: ''
        }"
      />

      <app-card
        [cardData]="{
          image: '../../../assets/icons/car.svg',
          text: 'Car & Bikes',
          class: ''
        }"
      />

      <app-card
        [cardData]="{
          image: '../../../assets/icons/world.svg',
          text: 'International Flights',
          class: ''
        }"
      />

      <app-card
        [cardData]="{
          image: '../../../assets/icons/invest.svg',
          text: 'Invest in Stocks',
          class: ''
        }"
      />
    </div>
  </div>
</section>
