<section class="bg-[#002970] h-80 pt-10 relative  top-[-130px] ">
    <div class="  container">
        <h2 class="font-[Inter] text-white font-bold text-4xl text-center mb-8">Book & Buy Ticket Using Online Banking</h2>

        <div class="flex justify-center items-center gap-12">
            <app-card 
            [cardData]="{ 
                image: '../../../assets/icons/circle.svg', 
                text: 'Movie Tickets',  
              }"
            />
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/home.svg',
               text:'Flight Tickets',

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/circle.svg',
               text:'Bus Tickets',

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/circle.svg',
               text:'Train Tickets'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/circle.svg',
               text:'Car & Bikes'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/circle.svg',
               text:'International Flights'

            }"
            />
                      
            <app-card 
            [cardData]="{
               image:'../../../assets/icons/circle.svg',
               text:'Invest in Stocks'

            }"
            />
                      
        </div>
    </div>
</section>
