/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: rgb(252, 251, 251);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.chat-modal--enlarge {
  width: 100%;
  height: 98%;
  right: 0;
  top: 0;
  background-color: rgba(0, 41, 112, 0.5);
  padding-top: 10px;
}

.chat-modal__head--enlarge {
  width: 720px;
 
}

.chat-modal__body--enlarge {
  width: 720px;
 
}

.chat-modal__icons--enlarge {
  width: 6rem;
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 1440px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  
}
